<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargo volume calculator</title>
</head>
<body>
    <div id="app">
        <div>
            <h2>Kalkulačka objemů nákladů</h2>

            <table>
                <tr>
                    <td>Typ nákladu ('n')</td>
                    <td>
                        <select id="cargoSelectRef" @change="changeCargo($event.target.value)">
                            <option disabled selected value>- Vyber -</option>
                            <option value="450*185*200">Dodávka</option>
                            <option value="450*210*210">Plachtová dodávka</option>
                            <option value="650*248*255">Solo do 7,5t</option>
                            <option value="650*248*255">Solo do 12t</option>
                            <option value="1360*248*270">Standardní návěs- Truck</option>
                            <option value="1360*248*300">Mega trailer- Truck</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th>Délka</th>
                    <th>Šířka</th>
                    <th>Výška</th>
                </tr>
                <tr>
                    <td>Náklad</td>
                    <td><input type="number" v-model="d1" /></td>
                    <td><input type="number" v-model="s1" /></td>
                    <td><input type="number" v-model="v1" /></td>
                </tr>
                <tr>
                    <td>Shipment</td>
                    <td><input type="number" v-model="d2" /></td>
                    <td><input type="number" v-model="s2" /></td>
                    <td><input type="number" v-model="v2" /></td>
                </tr>
                <tr>
                    <td>Výstup</td>
                    <td><input readonly type="number" :value="d" readonly/></td>
                    <td><input readonly type="number" :value="s" readonly/></td>
                    <td><input readonly type="number" :value="v" readonly/></td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Převodník jednotek</h2>

            <table>
                <tr>
                    <th><h3>Rozměry ('r')</h3></th>
                    <th></th>
                    <th><h3>Váha ('v')</h3></th>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th></th>
                                <th>Délka</th>
                                <th>Šířka</th>
                                <th>Výška</th>
                            </tr>
                            <tr>
                                <td>Palce (inch)</td>
                                <td><input id="dimensionRef" type="number" v-model="inch1" /></td>
                                <td><input type="number" v-model="inch2" /></td>
                                <td><input type="number" v-model="inch3" /></td>
                            </tr>
                            <tr>
                                <td>Cm</td>
                                <td><input readonly type="number" v-model="cm1" /></td>
                                <td><input readonly type="number" v-model="cm2" /></td>
                                <td><input readonly type="number" v-model="cm3" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <label for="roundDimensionsCopy">
                                        <input id="roundDimensionsCopy" v-model="roundDimensionsCopy" type="checkbox" checked />
                                        Zaokrouklit zkopírované cm rozměry nahoru
                                    </label>
                                    <br/>
                                    <button @click="copyCm">
                                        Zkopírovat cm rozměry
                                    </button>
                                    <span><em> (zkopíruje rozměry v cm ve formátu "{delka} x {sirka} x {vyska} cm")</em></span>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 5rem"></td>

                    <td>
                        <table>
                            <tr>
                                <th></th>
                                <th>Váha</th>
                            </tr>
                            <tr>
                                <td>Lbs</td>
                                <td><input id="weightRef" type="number" v-model="lbs"/></td>
                            </tr>
                            <tr>
                                <td>Kgs</td>
                                <td><input readonly type="number" v-model="kgs"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <label for="roundWeightCopy">
                                        <input id="roundWeightCopy" v-model="roundWeightCopy" type="checkbox" checked />
                                        Zaokrouklit zkopírovanou váhu nahoru
                                    </label>
                                    <br/>
                                    <button @click="copyWeightKgs">
                                        Zkopírovat váhu v kgs
                                    </button>
                                    <span><em> (zkopíruje váhu v kgs ve formátu "{vaha} kgs")</em></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://www.unpkg.com/keymaster@1.6.2/keymaster.js"></script>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        // import keymaster from 'https://www.unpkg.com/keymaster@1.6.2/keymaster.js'

        const lbsInKgs = 0.4536

        key('n', 'all', () => {
            document.getElementById('cargoSelectRef').focus()
        })
        key('r', 'all', () => {
            document.getElementById('dimensionRef').focus()
        })
        key('v', 'all', () => {
            document.getElementById('weightRef').focus()
        })

        const calculator = {
            computed: {
                d () {
                    return this.d2 ? Math.round(this.d1 / this.d2 * 100) / 100 : 0
                },
                s () {
                    return this.s2 ? Math.round(this.s1 / this.s2 * 100) / 100 : 0
                },
                v () {
                    return this.v2 ? Math.round(this.v1 / this.v2 * 100) / 100 : 0
                },

                cm1 () {
                    return this.inch1 ? Math.ceil(this.inch1 * 2.54 * 10) / 10 : 0
                },
                cm2 () {
                    return this.inch2 ? Math.ceil(this.inch2 * 2.54 * 10) / 10 : 0
                },
                cm3 () {
                    return this.inch3 ? Math.ceil(this.inch3 * 2.54 * 10) / 10 : 0
                },

                kgs () {
                    return Math.ceil(this.lbs * lbsInKgs * 10) / 10
                }
            },

            data () {
                return {
                    d1: 0,
                    s1: 0,
                    v1: 0,
                    d2: 0,
                    s2: 0,
                    v2: 0,

                    inch1: 0,
                    inch2: 0,
                    inch3: 0,

                    roundDimensionsCopy: true,

                    lbs: 0,

                    roundWeightCopy: true
                }
            },

            methods: {
                changeCargo (cargo) {
                    const cargoDim = cargo.split('*')
                    this.d1 = parseInt(cargoDim[0])
                    this.s1 = parseInt(cargoDim[1])
                    this.v1 = parseInt(cargoDim[2])
                },

                copyDimensionsCm () {
                    const cm1ToExport = this.roundDimensionsCopy ? Math.ceil(this.cm1) : this.cm1
                    const cm2ToExport = this.roundDimensionsCopy ? Math.ceil(this.cm2) : this.cm2
                    const cm3ToExport = this.roundDimensionsCopy ? Math.ceil(this.cm3) : this.cm3
                    navigator.clipboard.writeText(`${cm1ToExport} x ${cm2ToExport} x ${cm3ToExport} cm`)
                },

                copyWeightKgs () {
                    const kgsToExport = this.roundWeightCopy ? Math.ceil(this.kgs) : this.kgs
                    navigator.clipboard.writeText(`${kgsToExport} kgs`)
                }
            }
        }
        createApp(calculator).mount('#app')
    </script>
</body>
</html>